﻿<html>
<head>
    <style>

        u {
            text-decoration: underline;
        }
    </style>
    <title></title>
</head>
<body style='font-family: Times New Roman; font-size:10pt; padding:1cm 1cm 0 1cm; text-align:justify;'>

    <p style='text-align: center; font-size:11pt;'>
        <b>SURAT KUASA</b>
    </p>
    <p style='margin-top: 25pt;'>
        Yang bertandatangan dibawah ini :
    </p>
    <p>
        N a m a&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{NameOfProcuration}}{{TypeOfProcuration}}{{Nama}}&nbsp;&nbsp;&nbsp;
    </p>
    <p>
        No KTP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{NoKTP}}
    </p>

    <p>
        Alamat KTP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{AlamatKTP}}
    </p>

    <p>
        No. NPWP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{NoNPWP}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>

    <p>&ndash;selanjutnya disebut &ldquo;Pemberi Kuasa&rdquo;.</p>

    <p>
        Bahwa untuk menjamin lebih jauh pemenuhan kewajiban Pemberi Kuasa dalam hal pelaksanaan pembentukan <strong>Perhimpunan Penghuni (PP)</strong> sebagaimana diatur dalam <strong>Penegasan Pemesanan </strong>nomor : <u>{{DocNo}},</u> tanggal <u>{{PrintDate}}</u>&nbsp;.
    </p>

    <p>
        Maka dengan ini sekarang untuk nanti pada waktunya Pemberi Kuasa memberi Kuasa dengan Hak Substitusi kepada <strong>{{Company.companyName}}, </strong>berkedudukan di Kabupaten Bekasi.
    </p>

    <p>
        &ndash;selanjutnya disebut &ldquo;Penerima Kuasa&rdquo;.
    </p>

    <p style='text-align: center;'>
        <strong>--------------------------------------------------- K H U S U S ---------------------------------------------------</strong>
    </p>
    <p>
        <strong>Untuk dan atas nama serta mewakili Pemberi Kuasa, hadir dalam rapat pembentukan PP sebagai Pemilik/Penghuni, yakni :</strong>
    </p>

    <p>
        <ul>
            <li style='text-align:left;'><strong>Atas kepemilikan Unit no : {{UnitNo}}, Tower : {{UnitCode}} ,</strong> yang disebut di dalam <strong>Penegasan Pemesanan</strong> seperti tersebut diatas.</li>
        </ul>
    </p>
    <p>
        Untuk keperluan tersebut diatas, Penerima Kuasa berhak menghadap notaris / pejabat yang berwenang atau siapapun juga dan dimanapun juga, meminta dan memberikan keterangan, membuat/suruh membuat serta menandatangani surat&ndash;surat dan/atau dokumen yang diperlukan serta melakukan segala tindakan apapun juga tanpa dikecualikan, sehingga maksud dibuatnya surat kuasa ini dapat terlaksana dengan sebaik&ndash;baiknya.
    </p>
    <p>
        Segala resiko dan biaya&ndash;biaya yang timbul sehubungan dengan pembentukan <strong>PP</strong> tersebut menjadi tanggung jawab dan beban Pemberi Kuasa sepenuhnya dan wajib dibayar seketika.
    </p>
    <p>
        Surat Kuasa ini secara otomatis berlaku dan sah pada saat Pemberi Kuasa tidak hadir memenuhi undangan yang pengirimannya dibuktikan dengan bukti pengiriman resmi dari kantor Pos &amp; Giro.
    </p>
    <p>
        Demikian Surat Kuasa ini dibuat khusus untuk keperluan tersebut di atas.
    </p>
    <p>
        <u>{{PrintDay}}</u>, <u>{{PrintDate}}</u>
    </p>
    <p>
        <strong>Pemberi Kuasa,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>{{Nama}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <footer style='font-size:7pt; color:#808080;'>LGL-021-23/05/17/online/R3</footer>
</body>
</html>
